[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
jupyter = "*"
pandas = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
